html, body {
  height : 99%;
}

.hidden {
  display : none;
}

.float-right {
  float : right;
}

#splash {
  text-align     : center;
  vertical-align : middle;
  display        : none;
  height         : 100%;
}

#splash:before {
  content        : "";
  display        : inline-block;
  height         : 15%;
  vertical-align : middle;
}

#splash-content {
  font-family : 'Open Sans', Helvetica, Arial, sans-serif /*{global-font-family}*/;
  position    : relative;
}

#splash-content img {
  max-width  : 400px;
  max-height : 400px;
}

#main {
  height : 99.9%
}

div[data-role="header"], div[data-role="footer"] {
  z-index  : 1000;
  position : fixed;
  width    : 100%;
}

div[data-role="header"] {
  top : 0;
}

div[data-role="content"] {
  margin-top    : 1.9em;
  margin-bottom : 3.7em;
}

div[data-role="footer"] {
  bottom : 0;
}

.title-icon {
  position    : absolute;
  background  : url('../img/favicon.png') no-repeat;
  width       : 32px;
  height      : 32px;
  top         : 50%;
  left        : 50%;
  margin-top  : -16px;
  margin-left : -72px;
}

#search-container {
  margin : 0 0 1.4em;
}

.loading {
  margin-top : 3em;
  background : url('../img/loader.gif') no-repeat center center;
  height     : 1em;
}

.status {
  position   : absolute;
  top        : 50%;
  left       : 0.3em;
  margin-top : -7px;
  width      : 14px;
  height     : 14px;
}

.green .status {
  background-image : url('../img/green.png');
}

.red .status {
  background-image : url('../img/red.png');
}

.yellow .status {
  background-image : url('../img/yellow.png');
}

.gray .status {
  background-image : url('../img/gray.png');
}

.repolink {
  padding-left : 1.5em !important;
}

.ui-btn-icon-left > .ui-btn-inner > .ui-icon, .ui-btn-icon-right > .ui-btn-inner > .ui-icon {
  margin-top : 4px;
}

.last-build-summary {
  font-size : smaller;
  margin    : 0 1.2em;
  color     : #999;
  padding   : 0.2em 0;
}

.duration-label, .finished-at-label {
  display        : inline-block;
  width          : 11px;
  height         : 14px;
  margin-right   : 1px;
  overflow       : hidden;
  vertical-align : text-bottom;
}

.duration-label {
  background : url('../img/duration.png') no-repeat;
}

.finished-at-label {
  background : url('../img/done.png') no-repeat;
}

.repo-section {
  margin-top : 0.3em;
}

#repo-tabs {
  margin : 0.3em auto 0;
}

#previous-tab {
  float         : left;
  margin-bottom : -32px;
}

#repo-tabs > .ui-navbar {
  margin         : 0 36px;
  vertical-align : middle;
}

#next-tab {
  float      : right;
  margin-top : -32px;
}

#repo-tabs > .ui-navbar > ul > li > a {
  border-bottom-left-radius  : 0;
  border-bottom-right-radius : 0;
}

.build {
  font-size : smaller;
}

#build-summary {
  padding : 0.2em 0.2em 0.5em;
  border  : #999999 dotted 0.1em;
}

.build-status-container {
  position     : relative;
  height       : 1em;
  width        : 1em;
  display      : inline-block;
  margin-right : 5px;
}

.build-status-container .status {
  margin-top : -5px;
}

#build-summary dd div {
  font-family : monospace;
  overflow-x  : auto;
}