html, body {
  height : 99%;
}

.hidden {
  display : none;
}

.float-right {
  float : right;
}

#splash {
  text-align     : center;
  vertical-align : middle;
  display        : none;
  height         : 100%;
}

#splash:before {
  content        : "";
  display        : inline-block;
  height         : 15%;
  vertical-align : middle;
}

#splash-content {
  font-family : 'Open Sans', Helvetica, Arial, sans-serif /*{global-font-family}*/;
  position    : relative;
}

#splash-content img {
  max-width  : 400px;
  max-height : 400px;
}

#main {
  height : 99.9%
}

div[data-role="header"], div[data-role="footer"] {
  z-index  : 1000;
  position : fixed;
  width    : 100%;
}

div[data-role="header"] {
  top : 0;
}

div[data-role="content"] {
  margin-top    : 1.9em;
  margin-bottom : 3.7em;
}

div[data-role="footer"] {
  bottom : 0;
}

.title-icon {
  position    : absolute;
  background  : url('../img/favicon.png') no-repeat;
  width       : 32px;
  height      : 32px;
  top         : 50%;
  left        : 50%;
  margin-top  : -16px;
  margin-left : -72px;
}

#search-container {
  margin : 0 0 1.4em;
}

.loading {
  margin-top : 3em;
  background : url('../img/loader.gif') no-repeat center center;
  height     : 1em;
}

.status {
  position   : absolute;
  top        : 50%;
  left       : 0.3em;
  margin-top : -7px;
  width      : 14px;
  height     : 14px;
}

.green .status {
  background-image : url('../img/green.png');
}

.red .status {
  background-image : url('../img/red.png');
}

.yellow .status {
  background-image : url('../img/yellow.png');
}

.gray .status {
  background-image : url('../img/gray.png');
}

.repolink {
  padding-left : 1.5em !important;
}

.ui-btn-icon-left > .ui-btn-inner > .ui-icon, .ui-btn-icon-right > .ui-btn-inner > .ui-icon {
  margin-top : 4px;
}

.last-build-summary {
  font-size : smaller;
  margin    : 0 1.2em;
  color     : #999999;
  padding   : 0.2em 0;
}

.duration-label, .finished-at-label {
  display        : inline-block;
  width          : 11px;
  height         : 14px;
  margin-right   : 1px;
  overflow       : hidden;
  vertical-align : text-bottom;
}

.duration-label {
  background : url('../img/duration.png') no-repeat;
}

.finished-at-label {
  background : url('../img/done.png') no-repeat;
}

.repo-section {
  margin-top : 0.3em;
}

#repo-tabs {
  margin : 0.3em auto 0;
}

#previous-tab {
  float         : left;
  margin-bottom : -32px;
}

#repo-tabs > .ui-navbar {
  margin         : 0 36px;
  vertical-align : middle;
}

#next-tab {
  float      : right;
  margin-top : -34px;
}

#repo-tabs > .ui-navbar > ul > li > a {
  border-bottom-left-radius  : 0;
  border-bottom-right-radius : 0;
}

#repo-tabs > .ui-navbar > ul > li.ui-block-b > a.ui-btn {
  border-right-width : 1px;
}

.build {
  font-size : smaller;
}

#build-summary {
  padding       : 0.2em 0.2em 0.5em;
  border        : #d2d2d2 dotted 0.1em;
  border-radius : 0.5em;
}

.status-container {
  position     : relative;
  height       : 1em;
  width        : 1em;
  display      : inline-block;
  margin-right : 5px;
}

.status-container .status {
  margin-top : -5px;
}

#build-summary dd div {
  font-family : monospace;
  overflow-x  : auto;
}

#log-container {
  width    : 98%;
  margin   : 0 auto;
  position : relative;
}

#log-container #tail {
  z-index         : 99;
  position        : absolute;
  display         : block;
  top             : 0;
  right           : 2px;
  margin          : 13px 10px 0 0;
  padding         : 0 2px 0 3px;
  color           : #666666;
  text-shadow     : 1px 1px 0px #ffffff;
  font-family     : "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size       : 11px;
  line-height     : 14px;
  text-decoration : none;
  white-space     : nowrap;
  border          : 1px solid #bbbbbb; border-top-color : #dddddd;
  border-radius   : 8px;
  background      : -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e0e0e0));
  background      : linear-gradient(#ffffff, #e0e0e0);
}

#log-container #tail:hover .tail-status, #log-container #tail.active .tail-status {
  background-color : #27bb20;
}

#log-container #tail .tail-status {
  display          : inline-block;
  margin-right     : 1px;
  width            : 8px;
  height           : 8px;
  background-color : #aaaaaa;
  border-radius    : 4px;
  box-shadow       : #ffffff 1px 1px 2px;
}

#log-container #tail label {
  display : none;
  cursor  : pointer;
}

#log-container #tail:hover label {
  display : inline;
}

pre#log {
  position         : relative;
  clear            : left;
  min-height       : 12px;
  margin-top       : 1em;
  padding          : 15px 0;
  color            : #ffffff;
  font-family      : monospace;
  font-size        : 12px;
  line-height      : 18px;
  white-space      : pre-wrap;
  word-wrap        : break-word;
  background-color : #333333;
  border           : 1px solid #dddddd;
  border-radius    : 4px;
  overflow-x       : scroll;
  counter-reset    : line-numbering;
}

pre#log p {
  padding     : 0 15px 0 55px;
  margin      : 0;
  min-height  : 16px;
  text-shadow : none;
}

pre#log p a {
  color           : #666666;
  margin-left     : -33px;
  cursor          : pointer;
  text-decoration : none;
}

pre#log p a::before {
  content           : counter(line-numbering);
  counter-increment : line-numbering;
  padding-right     : 1em;
  text-align        : right;
}

table.list {
  width          : 100%;
  margin         : 25px 0 0 12px;
  border-spacing : 0;
}

table.list caption {
  margin-bottom : 8px;
  text-align    : left;
  color         : #666666;
  font-size     : 15px;
  font-weight   : bold;
}

table.list th {
  font-size     : 13px;
  color         : #666666;
  white-space   : nowrap;
  border-bottom : 2px solid #ffffff;
  text-align    : left;
}

table.list tr {
  max-height : 20px;
}

table.list td {
  white-space   : nowrap;
  border-bottom : 2px solid #ffffff;
  text-overflow : ellipsis;
}

table.list .green td {
  background-color : #dcffdc;
}

table.list .red td {
  background-color : #ffdcdc;
}

table.list .yellow td {
  background-color : #ffffe1;
}

.to-top {
  color           : #666666;
  text-decoration : none;
  float           : right;
}

.to-top:after {
  content       : "";
  position      : relative;
  bottom        : 0.9em;
  width         : 0;
  height        : 0;
  margin-left   : 0.3em;
  border-left   : 8px solid transparent;
  border-right  : 8px solid transparent;
  border-bottom : 8px solid #666666;
}