<div id="log-container">
  <a href="#" id="tail" {{action toggleTailing target="view"}}>
    <span class="tail-status"></span>
    <label>Follow</label>
  </a>
  <pre id="log" class="ansi"></pre>

  {{#if view.limited}}
    <p class="warning">
      This log is too long to be displayed. Please reduce the verbosity of your
      build or download the the <a {{bindAttr href="view.plainTextLogUrl"}} rel="external">raw log</a>.
    </p>
  {{/if}}
</div>
