<div id="tabs">
  <div class="ui-navbar ui-mini" data-role="navbar">
    <ul class="ui-grid-a">
      <li class="ui-block-a">
        {{#linkTo repo.index class="ui-btn ui-btn-up-c ui-btn-inline ui-corner-all"}}
          <span class="ui-btn-inner"><span class="ui-btn-text">Current</span></span>
        {{/linkTo}}
      </li>
      <li class="ui-block-b">
        {{#linkTo builds class="ui-btn ui-btn-up-c ui-btn-inline ui-corner-all"}}
          <span class="ui-btn-inner"><span class="ui-btn-text">Builds History</span></span>
        {{/linkTo}}
      </li>
    </ul>
  </div>
</div>