<section class="about-content">
  <h2>Mantis CI <span class="version">@@appVersion</span></h2>
  <h4>
    <span class="red-highlight">M</span>obile <span class="red-highlight">A</span>pplicatio<span class="red-highlight">n</span> for
    <span class="red-highlight">T</span>rav<span class="red-highlight">is CI</span>&trade;
  </h4>

  <p>An open-source, mobile-port of the <a href="https://travis-ci.org/" class="ui-link" rel="external">Travis-CI</a> web application.</p>

  <p>Get the source code or raise issues for the app <a href="http://floydpink.github.io/Travis-CI/" class="ui-link" rel="external">here</a>.
  </p>

  <h4>MIT License</h4>
  <h5>Copyright © 2013 <a href="https://github.com/floydpink" class="ui-link" rel="external">@floydpink</a></h5>

  <div class="poweredby">
    <p>This app is not affiliated with Travis CI&trade;. Travis CI is the registered trademark of 'Travis CI GmbH'.</p>

    <p>Powered by:
    <ul>
      <li><a href="https://api.travis-ci.org/docs/" class="ui-link" rel="external">Travis-CI API</a></li>
      <li>
        <a href="http://emberjs.com/" class="ui-link" rel="external">ember.js</a> &amp;
        <a href="https://github.com/emberjs/data" class="ui-link" rel="external">ember-data</a>
      </li>
      <li><a href="http://pusher.com/" class="ui-link" rel="external">pusher</a></li>
      <li><a href="http://jquerymobile.com/" class="ui-link" rel="external">jQuery mobile</a></li>
    </ul>
    </p>
  </div>

  <div class="git-describe">
    <small>@@gitDescribeVersion</small>
  </div>
</section>