<section>
  <h2>Travis-CI Mobile <span class="version">v0.9.2</span></h2>

  <p>An open-source, mobile-port of the <a href="https://travis-ci.org/" class="ui-link" rel="external">Travis-CI</a> web application.</p>

  <p>Get the source code or raise issues for the app <a href="http://floydpink.github.io/Travis-CI/" class="ui-link" rel="external">here</a>.
  </p>

  <h4>MIT License</h4>
  <h5>Copyright © 2013 <a href="https://github.com/floydpink" class="ui-link" rel="external">@floydpink</a></h5>

  <div class="poweredby">
    <p>Powered by:
    <ul>
      <li><a href="https://api.travis-ci.org/docs/" class="ui-link" rel="external">Travis-CI API</a></li>
      <li>
        <a href="http://emberjs.com/" class="ui-link" rel="external">ember.js</a> &amp;
        <a href="https://github.com/emberjs/data" class="ui-link" rel="external">ember-data</a>
      </li>
      <li><a href="http://pusher.com/" class="ui-link" rel="external">pusher</a></li>
      <li><a href="http://jquerymobile.com/" class="ui-link" rel="external">jQuery mobile</a></li>
    </ul>
    </p>

    <p>Icon assets courtesy -
      <a href="https://github.com/bendyworks/TravisCI.app" class="ui-link" rel="external">the bendyworks app</a>
    </p>
  </div>

</section>