<div data-role="header" class="ui-header ui-bar-d" role="banner">
  <span class="title-icon"></span>

  <h1 class="ui-title" role="heading" aria-level="1">Travis-CI</h1>

  <div id="about">
    {{#linkTo about title="About" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-notext ui-btn-up-c"}}
      <span class="ui-btn-inner">
        <span class="ui-btn-text">About</span>
        <span class="ui-icon ui-icon-info ui-icon-shadow">&nbsp;</span>
      </span>
    {{/linkTo}}
  </div>
</div>
<div data-role="content" class="ui-content ui-body-d" role="main">
  {{ yield }}
</div>
<div data-role="footer" class="ui-footer ui-bar-d" role="contentinfo">
  <div data-role="navbar" class="ui-navbar ui-mini" role="navigation">
    <ul class="ui-grid-a">
      <li class="ui-block-a">
        {{#linkTo repos class="ui-btn ui-btn-inline ui-btn-icon-bottom ui-btn-up-d"}}
          <span class="ui-btn-inner"><span class="ui-btn-text">Recent</span><span
              class="ui-icon ui-icon-grid ui-icon-shadow">&nbsp;</span></span>
        {{/linkTo}}
      </li>
      <li class="ui-block-b">
        {{#linkTo favorites class="ui-btn ui-btn-inline ui-btn-icon-bottom ui-btn-up-d"}}
          <span class="ui-btn-inner"><span class="ui-btn-text">Favorites</span><span
              class="ui-icon ui-icon-star ui-icon-shadow">&nbsp;</span></span>
        {{/linkTo}}
      </li>
    </ul>
  </div>
</div>