<div class="buildContainer">
  <ul>
    <li class="header">Builds for {{ name }}</li>
    {{#each model.builds}}
    <li class="build">{{#linkTo builds}}{{builds.message}}{{/linkTo}}</li>
    {{/each}}
  </ul>
</div>
{{outlet}}