<div data-role="header" class="ui-header ui-bar-a" role="banner">
  <h1 class="ui-title" role="heading" aria-level="1">Travis-CI</h1>
</div>
<div data-role="content" class="ui-content" role="main">
  {{ yield }}
</div>
<div data-role="footer" class="ui-footer ui-bar-a" role="contentinfo">
<h4 class="ui-title" role="heading" aria-level="1">© 2013 <a href="https://github.com/floydpink" class="ui-link">@floydpink</a>
</h4>
</div>
