<div>
  <header>
    <h2><a href="./">Travis-CI</a></h2>
  </header>

  <div data-role="content">
    {{ yield }}
  </div>

  <footer>
    <span>&copy; 2013 <a href="https://github.com/floydpink">@floydpink</a></span>
  </footer>
</div>