<section>
  <h3>Repositories</h3>
  <ul>
    {{#each controller}}
    <li>{{#linkTo builds this.latestBuild}}{{this.slug}}{{/linkTo}}</li>
    {{else}}}
    <h3>No repos.</h3>
    {{/each}}
  </ul>
</section>
<section>
  {{ outlet }}
</section>