<section>
  <h3>Repositories</h3>
  <ul>
    {{#each controller}}
    <li>{{#linkTo builds repo latestBuild}}{{ slug }}{{/linkTo}} ({{ last_build_number }})</li>
    {{else}}}
    <h3>No repos.</h3>
    {{/each}}
  </ul>
</section>