<section>
  <h3>Repositories</h3>

  <div>
    {{#each controller}}
    <div>
      {{#linkTo builds repo latestBuild}}{{ slug }}{{/linkTo}} ({{ last_build_number }})
    </div>
    {{else}}}
    <p>No repos.</p>
    {{/each}}
  </div>

</section>